.header{
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
	background: #D7D7D7;
}
.toFirstPage{
	
	position: absolute;
	right: 139px;
}
p{
  font-size: 25px;
  position: absolute; 
  margin-left: 150px; 
}
.content{
	position: absolute;
	left: 20%;
	right: 20%;
	background: #F2F2F2;
}
.main{
	margin-left: 5%;
	margin-right: 10%;
	height: 400px;
	margin-top: 20px;
	
}
.attitude{
	clear: both;
	
	margin-left: 10%;
	
	margin-right: 10%;
	display: -webkit-flex; /* Safari */
  display: flex;
	justify-content:space-between;
}

textarea{
	resize: none;
}
.right{
	width: 150px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	margin-right: 20%;
	float: right;
}
.top{
	display: inline-block;
	width: 90px;
	margin-left:5%;
	height: 30px;
	border: 1px solid black;
	text-align: center;
}
.noSure{
	display: none;
}
.form{
	width: 170%;
	min-height: 50px;
}

td{
	width: 10%;
	height: 30px;
}
.content{
	height: 1500px;
	background: #F2F2F2;
}