.header{
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
	background: #D7D7D7;
}
.toFirstPage{
	
	position: absolute;
	right: 139px;
}
p{
  font-size: 25px;
  position: absolute; 
  margin-left: 150px; 
}
.body{
	position: absolute;
	left: 20%;
	right: 20%;
	background: #F2F2F2;
	min-height: 500px;
}
.team{
	margin: 0 auto;
	width: 600px;
	
}
.border{
	margin-top: 30px;
	height: 60px;
	line-height: 60px;
	border: 1px solid black;
}